#messages2 { display: none; }

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Input & Button Style */

/* page */

.form-signin {  /* form center */
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

/* bang Chat */


/* messages */
.log {
    color: rgb(236, 121, 102);
    text-align: center;
}

#messages { list-style: none; }

#inputMessage {
    position: fixed;
    margin-right: 10px;
    width: 83%;
    bottom: 0;
    right: 0;
}
